body, html{
  font-family: "Google Sans Flex", sans-serif !important;
}

.left-side-menu #sidebar-menu .sidebar-menu_metismenu_li_a_span{
  font-family: "Google Sans Flex", sans-serif !important;
}

h4{
  font-family: "Google Sans Flex", sans-serif !important;
}

.modal{
  font-family: "Google Sans Flex", sans-serif !important;
}